.dashboard {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.grid {
  display: grid;
  grid-template-columns: 1.4fr 1fr;
  gap: 16px;
  align-items: start;
}

.globalSection {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/* responsive */
@media (max-width: 1000px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
