.donusChart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.circle {
  stroke: var(--shapes-color);
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  font-size: 12px;
  color: '#666';
}

.value {
  font-weight: 600;
}
