.donusChart {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.circle {
  stroke: var(--shapes-color);
}

.labels {
  display: flex;
  flex-direction: column;
  align-items: center;
}
