.notFoundPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.notFoundText {
  font-size: 1.3rem;
  font-weight: 700;
}

.boton {
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 8px 16px;
}
.boton:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.22);
  background: rgba(176, 172, 172, 0.22);
}
