.container {
  height: var(--vh);
  overflow: auto;
  border: 1px solid var(--border-color-1);
  border-radius: var(--radius-md);
  background: var(--surface-1);
  scrollbar-width: thin;
  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

.inner {
  position: relative;
  height: var(--totalH);
}

.row {
  position: absolute;
  top: var(--top);
  height: var(--itemH);
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--border-color-1);
}

.container::-webkit-scrollbar {
  width: 8px;
}

.container::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: 8px;
}

.container::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
}

.container::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
}
