.globalKpis {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-4);
  width: 100%;

  background-color: var(--surface-1);
  border: 1px solid var(--border-color-1);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-lg);

  padding: var(--space-4);
  min-height: 100px;
}

.chartWrapper {
  background: var(--surface-2) !important;
  border-radius: var(--radius-md) !important;
  padding: var(--space-4) !important;
}
