.globalKpis {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  background-color: var(--surface-1);
  border: 1px solid var(--border-color-1);
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-lg);

  padding: var(--space-4);
  min-height: 100px;
}
