:root {
  --primary-text-color: #111;
  --secondary-text-color: #666;
  --badge-text-color: #544f4f;
  --badge-background-color: rgb(236, 233, 233);
}
.card {
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06);
  border-radius: 16px;
  padding: 16px;
  height: 470px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.headerTitle {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.title {
  font-size: 1.1rem;
  font-weight: bold;
  color: var(--primary-text-color);
}

.badgeSmall {
  font-size: 0.65rem;
  font-weight: 300;
  color: var(--badge-text-color);
  background: var(--badge-background-color);
  border-radius: 12px;
  padding: 4px 8px;
}

.subtitle {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.smallButton {
  padding: 6px 10px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  background: white;
}
.smallButton:hover {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.22);
  background: rgb(233, 226, 226);
}

.kpis {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: 10px;
}

.kpiCard {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 12px;
  padding: 12px;
}

.kpiLabel {
  font-weight: 500;
  font-size: 0.8rem;
}

.kpiValue {
  font-weight: 700;
  font-size: 0.75rem;
}

.chart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 8px;
}

.chartTitle {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.chartLabel {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--secondary-text-color);
}

.chartValue {
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--secondary-text-color);
}

.bar {
  width: 140px;
  height: 20px;
  border-radius: 12px;
  border: 1px solid rgba(153, 152, 152, 0.4);
  background: rgba(0, 0, 0, 0.1);
  z-index: 0;
}

.fill {
  background: var(--shapes-color);
  z-index: 10;
  height: 20px;
  border-radius: 12px;
}

.body {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}
